.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.content {
  margin-top: 80px; /* Adjust this value based on the height of your navbar */
  /* Add any additional styles for the content */
}

#coiffeur {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}